@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 0px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;



/* HTML: <div class="loader"></div> */
.loader {
  width: 90px;
  aspect-ratio: 1;
  position: relative;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50px;
  box-shadow: 0 0 0 3px inset #997beb;
  animation: l4 2.5s infinite;
}
.loader:after {
  animation-delay: -1.25s;
}
@keyframes l4 {
  0% {
    inset: 0 50px 50px 0;
  }
  12.5% {
    inset: 0 50px 0 0;
  }
  25% {
    inset: 50px 50px 0 0;
  }
  37.5% {
    inset: 50px 0 0 0;
  }
  50% {
    inset: 50px 0 0 50px;
  }
  62.5% {
    inset: 0 0 0 50px;
  }
  75% {
    inset: 0 0 50px 50px;
  }
  87.5% {
    inset: 0 0 50px 0;
  }
  100% {
    inset: 0 50px 50px 0;
  }
}